{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}
<div style="margin-top:100px;"></div>
{% section 'cart-template' %}

<div style="margin-top:100px;"></div>